.elementor-8 .elementor-element.elementor-element-a77760e:not(.elementor-motion-effects-element-type-background),
.elementor-8 .elementor-element.elementor-element-a77760e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url('/assets/images/jobs.jpg');

}
.custom-chip-list {
  width: 100%;
  mat-chip-grid{
    max-height: 100px;
    overflow-y: auto;
  }
}
.custom-label{
  font-family: "Open Sans", sans-serif;
}
.cursor-pointer{
  cursor: pointer;
}

.left-15{
  left: 15px;
}
